body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe9ce;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.header {
    font-family: 'Cursive', sans-serif;
    color: #6b126b;
}

.chocolates {
    text-align: left;
    margin-top: 20px;
}

.chocolates label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.content-wrapper {
    text-align: left;
    margin-top: 20px;
}

.customPack {
    text-align: left;
}

.customPack h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.customPack b {
    color: #e53d00;
    font-size: 1.2em;
}

.additional-content {
    text-align: left;
}
